#site-wrapper {
  padding:5% 0%
}

/* center canvas element */
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:-50px;
    display: block;
    width: 505px;
}

.card-title {
  text-align: center;
}


/* Leaderboard Styles */

.leaderboard-score{
  font-weight:600;
}
